@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 10px;
  font-family: "Quicksand", sans-serif;
  background: #fffff0;
}

body > header {
  height: 120px;
  width: 100%;
  background-image: linear-gradient(#eeeee0 0%, #fffff0 25%);
  position: fixed;
  top: 0;
}

body > header > nav {
  padding: 70px 10% 0 25%;
  height: 100%;
}
body > header > nav > ul {
  border-bottom: 1px solid #d0d0d0;
  height: 100%;
}
body > header > nav > ul > li {
  list-style-type: none;
  display: inline-block;
  height: 100%;
  width: 20%;
  text-align: right;
  float: right;
}
body > header > nav > ul > li > a {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 2em;
  line-height: 2;
  padding: 0.33em 1.33em;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body > header > nav > ul > li > a:hover {
  border-bottom: 5px solid #eeeee0;
}
body > header > nav > ul > li > a:active {
  border-bottom: 5px solid #d0d0d0;
}


body > header > h1 {
  position: absolute;
  font-family: "Lobster", cursive;
  font-size: 7em;
  padding: 0.33em 0;
  width: 25%;
  text-align: center;
}

body > main {
  margin-top: 120px;
  height: calc(100% - 120px);
  padding: 1em 2em;
}

body > main div.studio-equipment {
  width: 500px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #bbbbb0;
  background-color: #eeeee0;
}

body > main div.studio-equipment dl {
  display: table-cell;
  width: calc(100% / 6);
}

body > main div.studio-equipment dl dt {
  display: block;
  font-size: 3em;
  width: 100%;
  padding: 0.33em 0.67em;
}
