* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  /*font-size: 10px;*/
  font-family: "Quicksand", sans-serif;
  background: #fffff0;
}

body > header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

body > header > nav.navbar {
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(#eeeee0 0%, #fffff0 25%);
}

body > header > nav.navbar > .container-fluid {
  background-color: #fffff0;
  border-bottom: 1px solid #e7e7e7;
}

@media (min-width: 768px) {
  body > header > nav.navbar > .container-fluid {
    background-color: inherit;
    border-bottom-color: transparent;
  }
}

body > header > nav.navbar > .container-fluid > .navbar-header > h1 {
  display: inline-block;
  width: 175px;
}
body > header > nav.navbar > .container-fluid > .navbar-header > h1 a.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 1.2em;
  padding: 0.33em 0;
  margin-left: 0;
}
body > header > nav.navbar .navbar-collapse {
  padding-left: 175px;
}

body > header > nav.navbar.navbar-default .navbar-toggle {
  padding: 0.67em 1em;
  margin-top: 20px;
}

body > header > nav.navbar ul {
  width: 100%;
}

body > header > nav.navbar ul > li {
  list-style-type: none;
  height: 100%;
  text-align: right;
}

@media (min-width: 768px) {
  body > header > nav.navbar ul > li {
    display: inline-block;
    width: 33.3333%;
  }
}

body > header > nav.navbar ul > li > a {
  border-bottom: 5px solid transparent;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  line-height: 4;
  padding: 1.33em 1.33em 0;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body > header > nav.navbar ul > li > a:hover {
  border-bottom: 5px solid #eeeee0;
}

body > header > nav.navbar-default .navbar-nav > li.active > a {
  border-bottom: 5px solid #d0d0d0;
}
body > header > nav.navbar-default .navbar-nav > li.active > a,
body > header > nav.navbar-default .navbar-nav > li.active > a:hover,
body > header > nav.navbar-default .navbar-nav > li.active > a:focus {
  background-color: transparent;
  color: #337ab7;
}

body > main {
  margin-top: 80px;
  /*height: calc(100% - 120px);*/
}

body > main div.studio-equipment {
  display: table;
  width: 50%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #bbbbb0;
  background-color: #eeeee0;
  box-shadow: 0 0 10px inset;
}

body > main div.studio-equipment dl {
  display: table-cell;
  width: calc(100% / 6);
}

body > main div.studio-equipment dl dt {
  display: block;
  font-size: 3em;
  width: 100%;
  padding: 0.33em 0.67em;
  text-align: center;
  color: #bbbbb0;
  cursor: pointer;
}

body > main div.studio-equipment dl dt.selected {
  color: #333330;
}

body > main div.studio-equipment dl dt:hover {
  color: #b8d19a;
  background-color: rgba(0, 0, 0, 0.02);
}

body > main div.studio-equipment dl dt.selected:hover {
  color: #7f4d46;
}

body > footer {
  height: 80px;
}

.jumbotron .panel {
  width: 50%;
  margin: 0 auto;
}

.carousel-inner {
  background-color: #aaa;
  height: 500px;
}

.carousel-inner .event {
  background-color: #aaa;
  height: 500px;
  width: 100%;
  position: absolute;
  transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000) left;
}

.carousel-inner .event.lft {
  left: -100%;
}

.carousel-inner .event.rgt {
  left: 100%;
}

.carousel-inner .event.current {
  left: 0;
}

.row {
  margin-bottom: 1em;
}
