<!DOCTYPE html>
<html ng-app="eventManager">
<head>
  <title>Mockup</title>
  <meta charset="UTF-8">
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="css/flaticon.css">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700,300">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
  <link type="text/css" rel="stylesheet" href="css/main.css">

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-indexed-db.min.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/event-admin.js"></script>
  <script type="text/javascript" src="js/event-manager-equipment.js"></script>
  <script type="text/javascript" src="js/event-manager.js"></script>
</head>
<body ng-controller="TabControl as tab">

  <header>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myStudio-NavBar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <h1><a class="navbar-brand" href="#">myStudio</a></h1>
        </div>

        <div id="myStudio-NavBar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{ active:tab.isSet(1) }">
              <a href ng-click="tab.setTab(1)">Administrate</a>
            </li>
            <li ng-class="{ active:tab.isSet(2) }">
              <a href ng-click="tab.setTab(2)">Plan</a>
            </li>
            <li ng-class="{ active:tab.isSet(3) }">
              <a href ng-click="tab.setTab(3)">Perform</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main role="main">

    <!-- Administration-Tab -->
    <section ng-show="tab.isSet(1)">
      <track-jukebox></track-jukebox>
      <equipment-inventory></equipment-inventory>
    </section>

    <!-- Planning-Tab -->
    <section ng-show="tab.isSet(2)">
      <event-planner></event-planner>
    </section>

    <!-- Performing-Tab -->
    <section ng-show="tab.isSet(3)">
    </section>

  </main>

  <footer>

  </footer>

  </body>
</html>
