<div class="container">
  <h3>Equipment</h3>
  <h4>Inventory</h4>
  <div class="row show-grid" ng-repeat="equipment in eqInventory.equipments" style="margin-bottom: 1em;">
    <div class="col-xs-10">
      <div class="input-group input-group-lg">
        <span class="input-group-addon {{eqInventory.types[equipment.equipment_typ].css}}" title="{{eqInventory.types[equipment.equipment_typ].name}}"></span>
        <input type="text" class="form-control" value="{{equipment.equipment_name}}" readonly />
      </div>
    </div>
    <button type="button" class="btn btn-lg btn-danger col-xs-2" ng-click="eqInventory.remove(equipment.equipment_id);">
      <span class="glyphicon glyphicon-trash"></span>
      <span class="hidden-xs">Remove</span>
    </button>
  </div>

  <form name="equipmentInventoryAdd" class="row" ng-submit="eqInventory.add(this)">
    <div class="form-group col-xs-5">
      <label class="sr-only" for="eqType">Type</label>
      <div class="input-group input-group-lg">
        <div class="input-group-addon"><span id="eqAddTypeCurrent" class="glyphicon glyphicon-option-horizontal"></span></div>
        <select class="form-control" id="eqType" name="eqType" onchange="document.getElementById('eqAddTypeCurrent').className = this.selectedOptions[0].attributes['data-style'].value;" required>
          <optgroup>
            <option value="" data-style="glyphicon glyphicon-option-horizontal">Type</option>
          </optgroup>
          <option ng-repeat="type in eqInventory.types" data-style="{{type.css}}">{{type.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group col-xs-5">
      <label class="sr-only" for="eqName">Name</label>
      <input type="text" class="form-control input-lg" id="eqName" name="eqName" placeholder="Name" required />
    </div>
    <button type="submit" class="btn btn-lg btn-success col-xs-2">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs">Add</span>
    </button>
  </form>
</div>
