<form class="container" id="eventDefiner" name="eventDefiner" ng-submit="definer.submit()">
  <h2>
    Define event
    <small class="pull-right"><a href="#event-carousel"><span class="glyphicon glyphicon-arrow-up"></span>to top</a></small>
  </h2>

  <fieldset>
    <legend>Header data</legend>
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="eventName">Name</label>
        <input type="text" class="form-control input-lg" id="eventName" name="eventName" placeholder="Name" required ng-model="provider.event.event_name" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6">
        <label for="eventDate">Date</label>
        <input type="date" class="form-control input-lg" id="eventDate" name="eventDate" placeholder="Date" required value="{{provider.event.date.toISOString().substring(0,10)}}" />
      </div>
      <div class="form-group col-xs-6">
        <label for="eventTime">Time</label>
        <input type="time" class="form-control input-lg" id="eventTime" name="eventTime" placeholder="Time" required value="{{provider.event.time}}"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="eventDescription">Description</label>
        <textarea class="form-control input-lg" id="eventDescription" name="eventDescription" placeholder="Description" style="resize:vertical" ng-model="provider.event.event_description"></textarea>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      Location
      <small><a href="https://www.google.de/maps?daddr={{provider.getMapsLocation()}}" target="_blank" class="pull-right">Google Maps</a></small>
    </legend>
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="locationStreet">Street</label>
        <input type="text" class="form-control input-lg" id="locationStreet" name="locationStreet" placeholder="Street" ng-model="provider.event.street" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-4">
        <label for="locationZIP">ZIP</label>
        <input type="text" class="form-control input-lg" id="locationZIP" name="locationZIP" placeholder="ZIP" ng-model="provider.event.zip" />
      </div>
      <div class="form-group col-xs-8">
        <label for="locationCity">City</label>
        <input type="text" class="form-control input-lg" id="locationCity" name="locationCity" placeholder="City" ng-model="provider.event.city" />
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="form-group col-xs-6">
      <button type="button" class="btn btn-lg btn-danger col-xs-12" ng-click="definer.reset()">Cancel</button>
    </div>
    <div class="form-group col-xs-6">
      <button type="submit" class="btn btn-lg btn-success col-xs-12">Apply</button>
    </div>
  </div>
</form>
