<div class="container-fluid">

  <div class="container" id="eventPerformance">
    <h1><a href ng-click="performer.start();">Perform</a></h2>

    <table class="table table-striped">
      <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-5">
        <col class="col-xs-5">
        <col class="col-xs-1">
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Artist</th>
          <th class="text-right">Time</th>
        </tr>
      </thead>
      <tbody sv-root sv-part="provider.tracks" sv-on-sort="performer.reorder($indexFrom, $indexTo)">
        <tr ng-repeat="track in provider.tracks" sv-element>
          <td><span class="glyphicon glyphicon-menu-hamburger"></span></td>
          <td>{{track.track_title}}</td>
          <td>{{track.artist}}</td>
          <td class="text-right">{{track.duration}}</td>
        </tr>
        <tr sv-placeholder>
          <td><span class="glyphicon glyphicon-menu-hamburger"></span></td>
          <td colspan="3">Move here</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="track-player">
    <div class="container" ng-repeat="track in provider.tracks" ng-show="{{provider.track === $index}}">

      <div class="row">
        <div class="col-xs-1">
          <h1><a href class="btn btn-lg btn-primary" ng-click="performer.start();"><span class="glyphicon glyphicon-play"></span></a></h1>
        </div>
        <div class="col-xs-10">
          <p class="lead text-center">
            {{provider.tracks[provider.track].track_title}} by {{provider.tracks[provider.track].artist}}
          </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{provider.getProgressedPercentage()}};">
              {{provider.getProgressedTime()}} / {{provider.tracks[provider.track].duration}}
            </div>
          </div>
        </div>
        <div class="col-xs-1">
          <h1><a href class="btn btn-lg btn-danger" ng-click="performer.stop();"><span class="glyphicon glyphicon-stop"></span></a></h1>
        </div>
      </div>

    </div>
  </div>
</div>
