<div class="container" id="eventTracklist">
  <h2>Build your tracklist</h2>

  <table class="table table-striped">
    <colgroup>
      <col class="col-xs-5">
      <col class="col-xs-5">
      <col class="col-xs-1 text-right">
      <col class="col-xs-1">
    </colgroup>
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th class="text-right">Time</th>
        <th>
          <div class="dropdown">
            <button class="btn btn-success dropdown-toggle col-xs-12 text-left" type="button" id="trId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="glyphicon glyphicon-plus"></span>
              Add
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu col-xs-12" aria-labelledby="trId">
              <li role="presentation">
                <div class="input-group input-group-sm search-control">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                  <input type="text" class="form-control" placeholder="Query" ng-model="query" />
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li role="presentation" ng-repeat="track in tracklistService.tracks | filter:query">
                <a href ng-click="tracklist.add(track.track_id)" >
                  <div>
                    <div>{{track.track_title}}</div>
                    <div>{{track.artist}}</div>
                    <div>{{track.duration}}</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="track in provider.tracks">
        <td>{{track.track_title}}</td>
        <td>{{track.artist}}</td>
        <td>{{track.duration}}</td>
        <td>
          <button type="button" class="btn btn-danger" ng-click="tracklist.remove(track.track_id);">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="hidden-xs">Remove</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
