<div class="container" id="eventLuggage">
  <h2>Pack your equipment</h2>

  <table class="table table-striped">
    <colgroup>
      <col class="col-xs-2">
      <col class="col-xs-9">
      <col class="col-xs-1">
    </colgroup>
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>
          <div class="dropdown">
            <button class="btn btn-success dropdown-toggle col-xs-12 text-left" type="button" id="eqId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="glyphicon glyphicon-plus"></span>
              Add
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="eqId">
              <li role="presentation">
                <div class="input-group input-group-sm search-control">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                  <input type="text" class="form-control" placeholder="Query" ng-model="query" />
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li role="presentation" ng-repeat="equipment in equipmentService.equipments | filter:query">
                <a href ng-click="luggage.add(equipment.equipment_id)" >{{equipment.equipment_name}}</a>
              </li>
            </ul>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="equipment in provider.equipments">
        <td>
          <span class="{{equipmentService.types[equipment.equipment_typ].css}}"></span>
          {{equipmentService.types[equipment.equipment_typ].name}}
        </td>
        <td>
          {{equipment.equipment_name}}
        </td>
        <td>
          <button type="button" class="btn btn-danger" ng-click="luggage.remove(equipment.equipment_id);">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="hidden-xs">Remove</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
