<div id="eventLuggage">
  <h2>Pack your equipment</h2>
  <div class="row" ng-repeat="equipment in provider.equipments" style="margin-bottom: 1em;">
    <div class="col-xs-10">
      <div class="input-group input-group-lg">
        <span class="input-group-addon {{provider.types[equipment.equipment_typ].css}}" title="{{provider.types[equipment.equipment_typ].name}}"></span>
        <input type="text" class="form-control" value="{{equipment.equipment_name}}" readonly />
      </div>
    </div>
    <button type="button" class="btn btn-lg btn-danger col-xs-2" ng-click="provider.removeEquipment(equipment.equipment_id);">
      <span class="glyphicon glyphicon-trash"></span>
      <span class="hidden-xs">Remove</span>
    </button>
  </div>

  <form name="eventEquipmentAdd" class="row" ng-submit="luggage.add()">
    <div class="form-group col-xs-10">
      <label class="sr-only" for="eqId">Equipment</label>
      <input type="text" class="form-control input-lg" id="eqId" name="eqId" placeholder="Equipment" list="equipmentOptions" required />
      <equipment-options></equipment-options>
    </div>
    <button type="submit" class="btn btn-lg btn-success col-xs-2">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs">Add</span>
    </button>
  </form>
</div>
