<div id="event-carousel" class="carousel slide" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#event-carousel" class="active" data-slide-to="0"></li>
    <li data-target="#event-carousel" ng-repeat="event in carousel.events" data-slide-to="{{event.event_id}}"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>Create new event</h1>
          <p>
            Get started managing your event bookings with myStudio.<br>
            Just push the button!
          </p>
          <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#eventCreatorModal">Create new Event</button>
        </div>
      </div>
    </div>
    <div class="item" ng-repeat="event in carousel.events" >
      <div class="container">
        <div class="carousel-caption">

          <h1 class="clearfix">
            <button type="button" class="close pull-left" aria-label="Close" ng-click="carousel.remove(event.event_id)"><span aria-hidden="true">&times; Remove</span></button>
            <small class="pull-right">{{event.timestamp.toLocaleString()}}</small>
          </h1>
          <h1>
            {{event.event_name}}
          </h1>
          <p>
            {{event.event_description}}
          </p>

          <h3>Todo:</h3>
          <div class="row">
            <div class="col-xs-4">
              <button type="button" class="btn btn-lg col-xs-12" ng-class="{'btn-success':event.tracks.length, 'btn-warning':!event.tracks.length}">
                <h3>Tracklist:</h3>
                <p ng-hide="!event.tracks.length">
                  <br>
                  None
                </p>
                <p ng-show="event.tracks.length">
                  {{event.tracks.length}}<br>
                  track<span ng-show="event.tracks.length > 1">s</span> listed
                </p>
              </button>
            </div>
            <div class="col-xs-4">
              <button type="button" class="btn btn-lg col-xs-12" ng-class="{'btn-success':event.equipments.length, 'btn-warning':!event.equipments.length}">
                <h3>Equipment:</h3>
                <p ng-hide="!event.equipments.length">
                  <br>
                  None
                </p>
                <p ng-show="event.equipments.length">
                  {{event.equipments.length}}<br>
                  part<span ng-show="event.equipments.length > 1">s</span> packed
                </p>
              </button>
            </div>
            <div class="col-xs-4">
              <button type="button" class="btn btn-lg col-xs-12" ng-class="{'btn-success':event.location, 'btn-warning':!event.location}">
                <h3>Location:</h3>
                <p ng-hide="event.location">
                  <br>
                  None
                </p>
                <address ng-show="event.location">
                  {{event.location.street}}<br>
                  {{event.location.zip + ", " + event.location.city}}
                </address>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#event-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#event-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  <event-creator></event-creator>
</div>
