<div id="trackJukebox" class="container">
  <h2>Jukebox</h2>

  <form name="jukeboxAdd" class="media" ng-submit="jukebox.add()">

    <table class="table table-striped">
      <colgroup>
        <col class="col-xs-5">
        <col class="col-xs-5">
        <col class="col-xs-1">
        <col class="col-xs-1">
      </colgroup>
      <thead>
        <tr>
          <th>
            <label class="sr-only" for="trackTitle">Title</label>
            <input type="text" class="form-control" id="trackTitle" name="trackTitle" placeholder="Title" required />
          </th>
          <th>
            <label class="sr-only" for="trackArtist">Artist</label>
            <input type="text" class="form-control" id="trackArtist" name="trackArtist" placeholder="Artist" required />
          </th>
          <th class="text-right">
            <label class="sr-only" for="trackTime">Time</label>
            <input type="time" class="form-control" id="trackTime" name="trackTime" placeholder="Time" required />
          </th>
          <th>
            <button type="submit" class="btn btn-success col-xs-12">
              <span class="glyphicon glyphicon-plus"></span>
              <span class="hidden-xs">Add</span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="track in tracklistService.tracks">
          <td>{{track.track_title}}</td>
          <td>{{track.artist}}</td>
          <td class="text-right">{{track.duration}}</td>
          <td>
            <button type="button" class="btn btn-danger" ng-click="jukebox.remove(track.track_id);">
              <span class="glyphicon glyphicon-trash"></span>
              <span class="hidden-xs">Remove</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </form>

</div>
